body {
    text-align: center;
}
input {
    width: 300px;
    font-size: 14px;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
    display: block;
    margin: 20px auto 0 auto;
}
input[type="submit"] {
    cursor: pointer;
}
