<html>
    <head>
        <script src="http://localhost:5886/socket.io/socket.io.js" type="text/javascript"></script>
        <script src="/static/js/jquery.js" type="text/javascript"></script>
        <script src="/static/js/chat.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/static/css/chat.css" />
    </head>
    <body>
        <div class="logout-container">
            <a href="/user/logout">salir</a>
        </div>
        <h1>{{ chatroom }}</h1>
        <div class="messages">
            {% for message in messages %}
                <div class="message">
                    <p><span class="author">{{ message.author }}:</span><span class="text">{{ message.message}}</span></p>
                    <div class="createdon">{{ message.createdOn }}</div>
                </div>
            {% endfor %}
        </div>
        <textarea placeholder="type some message" name="message"></textarea>
        <input type="button" value="Manda el mensaje">
    </body>
</html>
